.text-typing,
.text-nowrap {
    white-space: nowrap;
    display: block;
}

.typing-words span {
    text-indent: 50px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    visibility: hidden;
    border-right: 4px solid transparent;
    max-width: 60rem;
    /* width of widest string */
}

/* steps is number of chars-1 */
.typing-words span:nth-child(1) {
    animation: typing 1s steps(100), typingReverse 1s steps(100) 1s, blink-wait 1s step-end 1 1.4s, blink-caret 0.6s step-end infinite;
}

.typing-words span:nth-child(2) {
    animation: typing 1s steps(100) 2.4s, typingReverse 1s steps(100) 3.1s, blink-wait 1s step-end 1 3.8s, blink-caret 0.6s step-end infinite;
}

.typing-words span:nth-child(3) {
    animation: typing 1s steps(100) 4.8s, typingReverse 1s steps(100) 5.5s, blink-wait 1s step-end 1 6.2s, blink-caret 0.6s step-end infinite;
}

.typing-words span:nth-child(4) {
    animation: typing 1s steps(100) 7.2s, typingReverse 1s steps(100) 7.9s, blink-wait 1s step-end 1 8.5s, blink-caret 0.6s step-end infinite;
}

/* pause on last word, end cursor blink */
.typing-words span:nth-child(5) {
    animation: blink-caret 0.6s step-end 7 9.5s, typing 1s steps(7) 9.5s forwards;
}

@keyframes typing {
    from {
        width: 0;
        visibility: hidden;
    }

    to {
        width: 100%;
        visibility: visible;
        color: #ffffff;
    }
}

@keyframes typingReverse {
    from {
        width: 100%;
        visibility: visible;
        color: #ffffff;
    }

    to {
        width: 0;
    }
}